{% extends 'adminhome.html' %}
{% block content %}

<div class="container">
    <table class="table table stripped bg-info">
        <tr>
            <th>Product Name</th>
            <th>Price</th>
            <th>Brand</th>
            <th>Categoray</th>
            <th>image</th>
            <th>Action</th>
        </tr>
        {% for product in products %}
        <tr>
            <td>{{product.product_Name}}</td>
            <td>{{product.product_price}}</td>
            <td>{{product.product_Brand}}</td>
            <td>{{product.product_category}}</td>
            <td><img src="{{product.product_image.url}}" style ="height:70px;width:auto"alt=""></td>
            <td>
                <form action="{%url 'updateproduct' product.productId %}">
                    <button class="btn btn-warning">Update</button>
                </form>
                
                <a href="{%url 'DeleteProduct' product.productId %}"class="btn btn-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}