{% extends 'index.html' %}
{% block content %}
<style>
    .productupdate{
        height: auto;
        width: 80%;
        padding: 20px;
        margin: auto;
        border: 4px solid gray;
    }
    .productupdate h3{
        text-align: center;
        text-decoration: underline;
    }
    .productupdate input{
        width: 100%;
        padding:5px;
        border: 5px solid rgb(139,139,195);
    }


</style>

<div class="container">
    <div class="productupdate mt-5">
        <h3> view product</h3>
        {% for message in messages %}
        <h6 style="color: blueviolet">{{message}}</h6>
        {% endfor %}
        {% for item in product %}
        <div class="row">
            <div class="col-md-6">
                <form method="POST" enctype="multipart/form-data">
         {% csrf_token %}
                <table class="table">
                <tr>
                    <th><label for="">produc_tName:</label></th>
                    <td><input type="text" name="pname" value="{{item.produc_tName}}"></td>
                </tr>
                <tr>
                    <th><label for="">product_Brand:</label></th>
                    <td><input type="text" name="pbrand" value="{{item.product_Brand}}"></td>
                </tr>
                <tr>
                    <th><label for="">product_Discription:</label></th>
                    <td><input type="text" name="pdisc" value="{{item.product_Discription}}"></td>
                </tr>
                <tr>
                    <th><label for="">product_stock:</label></th>
                    <td><input type="text" name="pstock" value="{{item.product_stock}}"></td>
                </tr>
                <tr>
                    <th><label for="">product_category:</label></th>
                    <td><input type="text" name="pcat" value="{{item.product_category}}"></td>
                </tr>
                <tr>
                    <th><label for="">product_price:</label></th>
                    <td><input type="text" name="price" value="{{item.product_price}}"></td>
                </tr>
                
            </table>
           
            </div>
            <div class="col-md-6 text center">
                <img src="{{item.product_image.url}}" style="width:80%;height:80%" alt="">
                <a href="{% url 'CartView' %}" type="submit">Add to Cart</a>
            </div>
        </form>
        </div>
        {%endfor%}
    </div>
</div>

{% endblock %}